<%- layout("/layouts/boilerplate.ejs") %> 
<div class="col-6 offset-3">
     <h1 class="text-center">Log in</h1>
     <form action="/users/login" method=POST class="validated-form" novalidate>
        <div>
            <label for="username" class="form-label">Username: </label>
            <input type="text"  class="form-control" name="username" id="username" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input type="password" class="form-control"  name="password" id="password" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        <div>
            <button class="btn btn-success">Log in!</button>
        </div>
    </form>
</div>
